html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position:absolute;
  
  z-index: -1;
}
.Openp{
  display:block;
  position: absolute;
  top: 45%;
  left:40%;
  right:20%;
  border-color: transparent;
  border-bottom-color: black;
  opacity:0.8;
  font-size: 120%;
  background-color: lightgray;
  margin: 0 auto;
  z-index: 1;
}
.Openp2{ 
 display:block;
  position: absolute;
  top: 55%;
   left:40%;
  right:44%;
  border-color: transparent;
  border-bottom-color: black;
font-size: 20px;
  opacity:0.8;
  background-color:lightgray;
  margin: 0 auto;
 
  z-index: 1;
}

div.titulo {
   display:block;
margin:auto;
  background-color: transparent;
  color: white;
  font-family: cursive;
  font-size: 25px;
  position: absolute;
   font-size: 160%;
text-align: center;
 top:30%;
  left:20%;
 right:20%;
  font-weight: bold;
    z-index: 1;
}
div.titulo2 {
   display:block;
position :absolute;
  background-color: transparent;
  color: black;
  font-family: cursive;
  font-size: 160%;
text-align: center;
 top:30%;
  left:20%;
 right:20%;
font-weight: bold;
    z-index: 1;
  
}
